@font-face {
  font-family: 'FuturaLight';
  src: url('/fonts/FuturaLightC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemi';
  src: url('/fonts/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('/fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('/fonts/FuturaMediumC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}